# 📚2주차 파이썬 스터디 2장 전체 (10.06+10.10)

### 복습
* #### 리스트(list)
<br>요소를 삭제하거나 변경할 수 있다. 이러한 특성을 **mutable**(가변성) 이라고 표현한다.  리스트는 append, remove 메소드로 요소들을 추가 및 삭제가 가능하다.
<br>또한, 다른 type의 데이터들을 담을 수 있다. 
<br>*대괄호로 선언*
<br>ex) list_a = [‘a’,1,2]
<br>
* #### 튜플(tuple)
<br>요소를 삭제하거나 변경할 수 없다. 이러한 특성을 **immutable**(불변성)이라고 표현한다.
<br>리스트처럼 append, remove 메소드가 존재하지 않지만, 튜플+튜플로 append, remove기능을 억지로 구현할 수 있긴 하다.
<br>*소괄호로 선언*
<br>
* #### 집합(set)
<br>순서가 없는 중복 불가능한 collection 자료형이다. 인덱싱은 불가하다.
<br>선언 방법 : 중괄호 {}, set 생성자 사용
<br>**자주 쓰이는 상황** : 주로 코딩테스트에서 어떤 값이 선언한 set(집합)에 존재 하는지 하지 않는지 확인한다.
```python
a=set([“a”,”b”,”c”]
print(“d” in a)
> False
```
<br>
* #### 딕셔너리(dict)
<br>key를 통해 value를 얻는다. 
<br>선언 방법: 
```Python
a = { 1: ‘hi’ }, a = { ‘a’ : [1,2,3]} 
```

### Markdown 참고
```
# Markdown Study
##more
###more

####more

it is *italic*
it is **bold**
it is ~~cancelled~~

###Blockquotes

>인용문
>>인용문 안의 인용문
>>>하하하

###List

* Shopping List
  * milk

*How to make a cup of tea
  1. pour hot water

###CodeBlock

```python
print(3)
```

In [8]:
money = True
if money :
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [10]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit+1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [20]:
dic = {'name':'Sangbeom Ha', 'phone':'01071564863', 'birth' : '0912'}
print(dic)

{'name': 'Sangbeom Ha', 'phone': '01071564863', 'birth': '0912'}

### 2.5
<br> 
#### 딕셔너리 key로 value값 얻기

In [24]:
grade = {'pey':10, 'julliet' : 99}
grade['pey']

10

In [16]:
grade['julliet']

99

In [31]:
a_1={1:'a', 2:'b'}
a_1[1]

'a'

##### 딕셔너리 만들 때 주의할 사항! 
<br> Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시된다.
<br> Value에 리스트를 쓸 수 있어도, Key에는 리스트를 쓸 순 없다.

#### keys() 함수

In [33]:
a={'name':'sangbeom', 'birth':'0912', 'phone':'01071564863'}
print(a.keys())
list(a.keys())

dict_keys(['name', 'birth', 'phone'])

['name', 'birth', 'phone']

#### Value() 함수

In [28]:
a.items()

dict_items([('name', 'sangbeom'), ('birth', '0912'), ('phone', '01071564863')])

In [29]:
a.clear()
a

{}

#### 키가 딕셔너리 안에 있는지 조사하기(in 활용)

In [38]:
'name' in a

False

# 📚여기까지 10.06 학습, 밑에 내용 10.10 학습

In [35]:
'email' in a

False

In [1]:
a=[1,2,3]
id(a)

2899658696384

In [2]:
a=[1,2,3]
b=a

In [3]:
id(b)

2899658693440

In [4]:
id(a)

2899658693440

### 점프 투 파이썬 2장 연습문제

### Q1 평균

In [10]:
# 방법1 for 활용
arr=[80,75,55]
result=0
for val in arr:
    result+=val
print(f"average : {result / len(arr)}")

average : 70.0

In [12]:
# 방법2 sum 활용
arr=[80,75,55]
result= sum(arr)
print(f"average : {result/len(arr)}")

average : 70.0

In [13]:
# 방법3 numpy 활용
import numpy
arr=[80,75,55]
average=numpy.mean(arr)
print(f"average : {average}")

average : 70.0

In [2]:
# 방법4 statistics 활용
import statistics
arr=[80,75,55]
result = statistics.mean(arr)
print(f"average : {result}")

average : 70

### Q2 홀수짝수판별

In [3]:
n=13
if n%2==0 :
    print("n은 짝수")
else :
    print("n은 홀수")

n은 홀수

### Q3 슬라이싱과 append, join 활용

In [14]:
years = []
id_num="881120-1068234"

years.append('19')
years.append(id_num[0:6])
years="".join(years)
print(years)
print(id_num[7:])

19881120
1068234

### Q5 replace함수 활용

In [15]:
str="a:b:c:d"
output=str.replace(":","#")
print(output)

a#b#c#d

### Q6 sort(), reverse() 활용

In [16]:
list=[1,3,5,4,2]
list.sort()
list.reverse()
print(list)

[5, 4, 3, 2, 1]

### Q7 join 활용

In [26]:
list=['Life', 'is', 'too', 'short']
result=" ".join(list)
print(result)

Life is too short

### Q8 튜플 값 추가

#### 쉼표를 추가해줘야함! 튜플은 immutable 하기 때문에 억지로 mutable하게 바꿔주려면 튜플끼리 추가하는 방법이 있다.

In [29]:
a=(1,2,3)
a=a+(4,) 
print(a)

(1, 2, 3, 4)

### Q9 
<br>

#### 아래 코드가 오류가 발생하는 경우를 고르고, 그 이유를 설명해보자.
<br>

```python
a=dict()
a
```

<br>

```python
#1
a['name'] = 'python'
#2
a[('a',)] = 'python'
#3
a[[1]] = 'python'
#4
a[250] = 'python'
```

3번, 딕셔너리의 key로는 mutable value를 사용할 수 없다. [1]은 리스트이므로 변하는 값이다.
<br>
문자열, 튜플, 숫자는 immutable value이므로 딕셔너리의 key로 사용 가능하다.

### Q10
<br> 

#### a에서 'B'에 해당되는 값을 추출해 보자.
```python
a={'A':90, 'B':80, 'C':70}
```

In [35]:
a={'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(result)

80

<span style = "background-color:#FFFD91; color:#FE5B05;">왜 print(a.pop('B'))는 안되는가?</span>

### Q11
<br> 

#### a 리스트에서 중복 숫자를 제거해 보자.

In [36]:
a=[1,1,1,2,2,3,3,3,4,4,5]
a_set=[]
for i in a:
    if i not in a_set:
        a_set.append(i)
print(a_set)

[1, 2, 3, 4, 5]

### Q12
<br> 

####  파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b값은 어떻게 될까? 그리고 이런 결과가 나오는 이유에 대해 설명해 보자.
```python
a=b=[1,2,3]
a[1] = 4
print(b)
```

In [37]:
a=b=[1,2,3]
a[1] = 4
print(b)

[1, 4, 3]

#### [1, 4, 3]이 출력된다. a와 b 변수는 모두 동일한 [1, 2, 3]이라는 리스트 객체를 가리키고 있기 때문이다.
<br>
<span style = "background-color:#FFFD91; color:#FE5B05;">[1,2,3]을 b에 넣고 b를 a에 넣어서 a만 바뀔줄알았는데..</span>